@font-face {
    font-family: 'NokiaPureHeadline_Ultralight';
    src: url('../fonts/NokiaPureHeadline_Ultralight.ttf') format("truetype"),
        local('NokiaPureHeadline_Ultralight');
}

@font-face {
    font-family: 'NokiaPureText_Medium';
    src: url('../fonts/NokiaPureText-Medium.ttf') format("truetype"),
        local('NokiaPureText_Medium');
}

@font-face{
    font-family: 'NokiaPureHeadline_Light';
    src: url('../fonts/NokiaPureHeadline_Light.ttf') format("truetype"),
        local('NokiaPureHeadline_Light');
}

.textStyle {
    font-family: NokiaPureHeadline_Ultralight;
    font-size: 54px;
}

.textStyle2 {
    font-family: NokiaPureHeadline_Light;
    font-size: 24px;
}

.textStyle3 {
    font-family: NokiaPureHeadline_Light;
    font-size: 28px;
}

.textStyle4 {
    font-family: NokiaPureHeadline_Light;
    font-size: 24px;
}

#NokiaLogo {
    width: 100px;
    margin-left: 20px
}

body {
	height: 100%;
	margin: 0;
}

#whiteHeaderSoftwareTitle {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #888888;
    font-family: NokiaPureHeadline_Light;
    font-size: 19px;
    letter-spacing: 0.7px;
}


#whiteHeader {
	padding: 20px 0 20px 5px;
}

#blueHeaderSubtitle {
    position: relative;
    top: -40px;
}

#formHeader {
    text-align: center;
}

#blueFormHeader {
    color: #124191;
}

#greyFormHeader {
    color: #787878;
}

body {
	height: 100%;
}

#whiteHeader {
	padding: 20px 0 20px 5px;
}

#whiteHeader-tail {
	position: absolute;
	right: 30px;
	font-family: NokiaPureHeadline_Light;
	color: #888888;
	font-size: 19px;
}

#blueHeader {
    color: #ffffff;
    background-color: #124291;
    padding: 20px 0 0 20px;
    margin: 0 0 0 0;
}

#mainForm {
	border: border: 2px solid red;
	width: 28%;
	margin: auto;
	
}

.FullWidthFormItem {
	width: 100%;
}

.FullWidthFormItem, input[type=datetime-local] {
	margin-top: 3px;
}

input[type=textarea], input[type=datetime-local], input[type=submit], textarea{
	border: 1px solid #cccccc;
    border-radius: 4px;
}

input[type=textarea]:focus, input[type=datetime-local]:focus, select:focus, textarea:focus{
	border: 2px solid rgb(64,126,231);
	outline: none;
}

.inputdiv {
	margin: 0 0 10px 0;
}

label {
    font-family: NokiaPureText_Medium;
    font-size: 12px;
    color: #787878;
}

input[type=textarea], textarea {
	padding: 2px 0 2px 5px;
}

#datesTable {
	position: relative;
	top: -10px;
	left: -2px;
}

#startdate {
	width: 15%;
}

#startdate label {
	width: 100px;
	display:inline-block
}

#enddate {
	width: 10%;
}

#enddate label {
	width: 100px;
	display:inline-block
}

#desc {
	/*height: 50px;*/
}

textarea {
  resize: none;
}

#saveLineItem {
	width: 100px;
	height: 35px;
	position: absolute;
	right: 35%;
	padding: 5px;
	color: white;
	background-color: #124191;
	border: none;
}

#saveLineItem:hover {
	cursor: pointer;
}

footer {
    font-family: NokiaPureHeadline_Light;
    font-size: 19px;
    letter-spacing: 0.7px;
	position: fixed;
	bottom: 5px;
	margin-left: 10px;
}


