@font-face {
    font-family: 'NokiaPureHeadline_Ultralight';
    src: url('../fonts/NokiaPureHeadline_Ultralight.ttf') format("truetype"),
        local('NokiaPureHeadline_Ultralight');
}

@font-face {
    font-family: 'NokiaPureText_Medium';
    src: url('../fonts/NokiaPureText-Medium.ttf') format("truetype"),
        local('NokiaPureText_Medium');
}

@font-face{
    font-family: 'NokiaPureHeadline_Light';
    src: url('../fonts/NokiaPureHeadline_Light.ttf') format("truetype"),
        local('NokiaPureHeadline_Light');
}

.textStyle {
    font-family: NokiaPureHeadline_Ultralight;
    font-size: 54px;
}

.textStyle2 {
    font-family: NokiaPureHeadline_Light;
    font-size: 24px;
}

.textStyle3 {
    font-family: NokiaPureHeadline_Light;
    font-size: 28px;
}

.textStyle4 {
    font-family: NokiaPureHeadline_Light;
    font-size: 24px;
}

#blueHeaderSubtitle {
    position: relative;
    top: -40px;
}

#formHeader {
    text-align: center;
}

#blueFormHeader {
    color: #124191;
}

#greyFormHeader {
    color: #787878;
}

body {
	height: 100%;
}

label {
    font-family: NokiaPureText_Medium;
    font-size: 12px;
    color: #787878;
}

#whiteHeader {
	padding: 20px 0 20px 5px;
}

#AllNokiaSites {
	position: absolute;
	right: 30px;
	
}

#blueHeader {
    color: #ffffff;
    background-color: #124291;
    padding: 20px 0 0 20px;
    margin: 0 0 0 0;
}

#mainForm {
	border: border: 2px solid red;
	width: 30%;
	margin: auto;
	
}

.FullWidthFormItem {
	width: 100%;
}

#desc {
	height: 50px;
}

#datesTable {
	
}

#startdate {
	width: 15%;
}

#startdate label {
	width: 100px;
	display:inline-block
}

#enddate {
	width: 10%;
}

#enddate label {
	width: 100px;
	display:inline-block
}

#saveLineItem {
	width: 100px;
	height: 35px;
	position: absolute;
	right: 35%;
	padding: 5px;
	color: white;
	background-color: #124191;
	border-radius: 6px;
}

footer {
	position: fixed;
	bottom: 20px;
}


