#MyForm {
	width: 28%;
	margin: auto;	
}

#formHeader {
    text-align: center;
}

#blueFormHeader {
    color: #124191;
}

#greyFormHeader {
    color: #787878;
}

#CustSelect, #SubSelect {
	Margin: 5px 0 15px 0;
}

/*
####################################
*/


.FullWidthFormItem {
	width: 100%;
}

.FullWidthFormItem, input[type=datetime-local] {
	margin-top: 3px;
}

input[type=textarea], input[type=datetime-local], input[type=submit], textarea{
	border: 1px solid #cccccc;
    border-radius: 4px;
}

input[type=textarea]:focus, input[type=datetime-local]:focus, select:focus, textarea:focus{
	border: 2px solid rgb(64,126,231);
	outline: none;
}

.inputdiv {
	margin: 0 0 10px 0;
}

label {
    font-family: NokiaPureText_Medium;
    font-size: 12px;
    color: #787878;
}

input[type=textarea], textarea {
	padding: 2px 0 2px 5px;
}

#DescDiv{
    margin-top: 15px;
    margin-bottom: 30px;
}

.errors {
    font-family: NokiaPureHeadline_Light;
    font-size: 16px;
    color: red;
    display: none;

}

#SubmitButton {
	margin-top: 0px;
}

#footerContainer {
    height: 50px;
}




#CustSelectDiv {
    position: relative;
}

#CustText {
    position: absolute;
    left: 8px;
    top: 24px;
    color: rgb(0,0,0,0.43);
    font-family: NokiaPureHeadline_Light;
    font-size: 14px;
    letter-spacing: 0.7px;

}
